<div>
    <div class="form-horizontal col-md-6">

        <div class="form-group">
            <label for="dealType" class="col-sm-2 control-label">Nemovitost</label>
            <div class="col-sm-10">
                <select class="form-control" ng-model="dealType">
                    <option value="0">Pro bydlení</option>
                    <option value="1">Nebytové prostory</option>
                </select>
            </div>
        </div>
        <div class="form-group ">
            <label for="disposition" class="col-sm-2 control-label">Dispozice</label>
            <div class="col-sm-10">
                <select class="form-control" ng-model="disposition">
                    <option value="0">1+</option>
                    <option value="1">2+</option>
                    <option value="2">3+</option>
                    <option value="3">4+</option>
                    <option value="4">5+</option>
                    <option value="5">6+</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="region" class="col-sm-2 control-label">Vyhledávání</label>
            <div id="searchboxParent" class="col-sm-10">
            
            </div>
        </div>
    
        <div class="form-group">
            <label for="region" class="col-sm-2 control-label">Region</label>
            <div class="col-sm-10">
                <input ng-model="region" class="form-control" placeholder="region">
            </div>
        </div>
        <div class="form-group">
            <label for="city" class="col-sm-2 control-label">Obec</label>
            <div class="col-sm-10">
                <input class="form-control" ng-model="city" placeholder="city">
            </div>
        </div>
        <div class="form-group">
            <label for="locality" class="col-sm-2 control-label">Lokalita</label>
            <div class="col-sm-10">
                <input class="form-control" ng-model="locality" placeholder="locality">
            </div>
        </div>
        <div class="form-group">
            <label for="street" class="col-sm-2 control-label">Ulice</label>
            <div class="col-sm-10">
                <input class="col-sm-8" ng-model="street" placeholder="street">
                <input class="col-sm-2" ng-model="streetNumber" placeholder="streetNumber">
            </div>
        </div>
        <div class="form-group">
            <label for="streetNumber" class="col-sm-2 control-label">streetNumber</label>
            <div class="col-sm-10">
            
            </div>
        </div>
        <div class="form-group">
            <label for="price" class="col-sm-2 control-label">price</label>
            <div class="col-sm-10">
                <input class="form-control" ng-model="price" placeholder="price" />
            </div>
        </div>
        <div class="form-group">
            <label for="dealDescription" class="col-sm-2 control-label">dealDescription</label>
            <div class="col-sm-10">
                <textarea class="form-control" rows="3" ng-model="dealDescription" placeholder="dealDescription"></textarea>
            </div>
        </div>

        <div class="btn btn-default" ng-file-select ng-model="files">Upload ussing model $watch</div>
        <div class="btn btn-default" ng-file-select ng-file-change="upload($files)">Upload on file change</div>

        <div ng-file-drop ng-model="files" class="drop-box"
             drag-over-class="dragover" ng-multiple="true" allow-dir="true"
             accept=".jpg,.png">
            <div>Obrázky přetáhněte sem.</div>
        </div>

        <ul class="">
            <li class="animate-repeat" ng-repeat="file in storedFiles">
                [{{file.name}}] {{(file.size/1024000).toFixed(2)}} MB
            </li>
            <li class="animate-repeat" ng-if="results.length == 0">
                <strong>Zatím jste nepřidali žádný soubor</strong>
            </li>
        </ul>

        <div ng-no-file-drop>Zde klikněte pro nahrání obrázku</div>
        <div ng-click="createReality()" class="btn btn-default">CREATE!!!</div>
    </div>

    <div class="col-md-6">
        <style>
            .angular-google-map-container { height: 500px; }
        </style>
        <script type="text/ng-template" id="searchbox.tpl.html">
            <input type="text" ng-model="address" placeholder="Adresa" required />
        </script>
        <ui-gmap-google-map 
            center="map.center" 
            zoom="map.zoom" 
            options="map.options"
            control="control">
            <ui-gmap-search-box options="searchbox.options" template="searchbox.template" events="searchbox.events" parentdiv="searchbox.parentdiv"></ui-gmap-search-box>
            <ui-gmap-marker idkey="'id'" coords="marker" options="markerOptions">
                <ui-gmap-window options="windowOptions" closeclick="closeClick()">
                    <p class="google-window">{{marker.latitude}}, {{marker.longitude}}</p>
                </ui-gmap-window>
            </ui-gmap-marker>
        </ui-gmap-google-map>
    </div>
</div>