<form class="pageLeft">
    <h3>Vyhledávání</h3>
    <div>Dispozice</div>
    <div id="DealTypeGroup" class="btn-group">
        <label class="btn btn-default" ng-model="searchParamsDisposition.d1" btn-checkbox>1</label>
        <label class="btn btn-default" ng-model="searchParamsDisposition.d2" btn-checkbox>2</label>
        <label class="btn btn-default" ng-model="searchParamsDisposition.d3" btn-checkbox>3</label>
        <label class="btn btn-default" ng-model="searchParamsDisposition.d4" btn-checkbox>4</label>
        <label class="btn btn-default" ng-model="searchParamsDisposition.d5" btn-checkbox>5</label>
        <label class="btn btn-default" ng-model="searchParamsDisposition.d6" btn-checkbox>6+</label>
    </div>
    <br />
    <br />
    <div>Město</div>
    <input type="text" class="form-control" ng-model="searchParamsCity" />
    <br />
    <div>Lokalita</div>
    <input type="text" class="form-control" ng-model="searchParamsLocality" />
    <br />
    <div>Cena</div>
    <div>
        <input id="priceFrom" type="number" step="500" class="form-control" ng-model="searchParamsPriceFrom" />
        -
        <input id="priceTo" type="number" step="500" class="form-control" ng-model="searchParamsPriceTo" />
    </div>
    <br />
    <div><button class="btn btn-default" ng-click="searchReality()">Vyhledat</button></div>
</form>